.btn-group-vertical.pull-left
  %h4 List Of Facilities
- if can? :new, Facility
  = link_to "New Facility", new_facility_path, class: "btn btn-default pull-right"

%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "row"} #
      %th{:scope => "row"} Title
      %th{:scope => "row"} Desctription
      - if (can? :edit, Facility) || (can? :destroy, Facility)
        %th{:scope => "row", :colspan => "4"} Action
  %tbody
    - @facilities.each_with_index do |facility, index|
      %tr
        %td= index + 1 
        %td= facility.title
        %td= facility.desctription
        - if can? :edit, facility
          %td= link_to 'Edit', edit_facility_path(facility)
        - if can? :delete, facility
          %td= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' }
= paginate @facilities
