!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ConferenceRoomBooking
    = stylesheet_link_tag    'application'#, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{:src => "http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css", :rel => "stylesheet"}/

    = csrf_meta_tags
  %body.body
    = render partial: 'layouts/header'
    .col-md-12
      - if notice.present?
        .alert.alert-success
          %strong Success :
          = notice
      - if warning.present?
        .alert.alert-warning
          %strong Warning :
          = warning
    .container
      %section.row
        = yield
  :javascript
    $('.alert').delay(5000).fadeOut('slow');